doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../static/web.css')
header
  .container
    // blank space
.gui
  #spaceing.container
    #pos1.container
      ol.container
        li
          a(href='#') Home
        li
          a(href='#') Products
        li
          a(href='#') Contact Us
    #pos2.container
      ol.container
        li
          a(href='#') Cart
        li
          a(href='/signup.pug')
            strong User
  #line.container
    // line
  .overlay
    img(src='../static/img1.jpg' alt='Your Second Image')
  .pos
    h1
      strong Perfume Shop
    br
    h3
      | The Best Way To Find Your
      br
      |  Favourite Perfume
    br
    input(type='text' placeholder='What are you looking for?    ')